body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    /*
    color: rgb(17, 17, 17);
    background-color: rgb(94, 150, 174);
    background-color: rgb(141, 199, 224); 
    background-color: rgb(93, 207, 205);
    background-color: rgb(56, 144, 143);
 rgb(17, 17, 17);
 #009579;
 #222222;
   
    
    background-color: rgb(83, 212, 211);

    background-color: rgb(116, 219, 217);
    background-color: rgb(142, 230, 228);
    
    background-color: rgb(178, 235, 224); 

    background-color: rgb(88, 185, 150);
    background-color: rgb(56, 144, 112);
    background-color: rgb(254, 225, 145);
    background-color: rgb(255, 191, 163);
    background-color: rgb(224, 137, 99); 
    */
    /* rgb(88, 185, 150);  rgb(56, 144, 112)  */ 
}

.nav {
    height: 100vh;
    width: 200px;
    background: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
}

.nav-links-wrapper {
    display: flex;
    flex-direction: column;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    white-space: nowrap;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: rgb(56, 144, 143);
}


.flex-container {
    display: flex;
    flex-direction: row;
    text-align: justify;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }

  .flex-item-right {
    background-color:rgb(178, 235, 224);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    color:rgb(24, 24, 24);
    
  
    /* imo kitxvadia tetri teqstit mara ravici erti statisktiask vendot */
    /* color:white; */
  /*  text-shadow: 0 0 3px rgb(17, 17, 17); */
  }

  .nav-buttons {
      margin: auto 0 0 0;
      padding: 12px 18px;
      display: flex;
      flex-direction: column;
  }
  
  .nav-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    border-radius: 6px;
    margin: 8px 0;
  }
  #nav-login-button {
    background-color: #4CAF50;
  }
  #nav-register-button {
    background-color: #008CBA;
  }
  #nav-logout-button {
    background-color: #f44336;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }

    .nav {
        flex-direction: row;
        height: 50px;
        width: 100%;
        flex-grow: 2;
    }
    
    .nav-links-wrapper {
        flex-direction: row;
        overflow-x: scroll;
        flex-shrink: 1;
    }
    .nav-links-wrapper::-webkit-scrollbar-track {
        background-color: rgb(24, 24, 24);
    }

    .nav-buttons {
        flex-direction: row;
        margin: 0 0 0 auto;
        padding: 4px 4px 4px 0;
        display: flex;
    }

    .nav-button {
        padding: 0px 5px;
        font-size: 16px;  
        border-radius: 6px;
        margin: 0 0 0 5px;
      }
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: #222222;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
